@import "tailwindcss";

@config "../../tailwind.config.js";

@theme {
    --default-ring-width: 3px;
    --default-ring-color: var(--color-blue-500);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
